/*
    Custom styles
----------------------------
*/
th {
    background-color: #FAFAFA;
    color: #283744;
    padding: 4px 9px !important;
} 

/* Alerts */
.alert-group {
    margin-bottom: 0px;
}
.alert-group .alert {
    margin-bottom: 0px;
    border: 1px solid transparent;
    padding: 15px !important;
}
.alert-group .alert:nth-child(1) {    
    border: 1px solid transparent;    
    border-radius:4px 4px 0 0;
    padding-top: 15px !important;
}
.alert-group .alert:last-child { 
    border: 1px solid transparent;    
    border-radius:0 0 4px 4px;
    padding-bottom: 15px !important;
    margin-bottom: 20px;
}


/* TIMELINE */
.timeline {
    list-style: none;
    padding: 15px 15px;
    position: relative;
    overflow-y: scroll;
    max-height: 900px;
    background: #FAFAFA;
}
.timeline-heading.panel-heading {
    padding: 15px;
}
.timeline hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

    .timeline:before {
        position: absolute;
        content: " ";
        width: 1px;
        background-color: #DDDDDD;
        left: 50%;
        margin-left: -0px;
        height: 2000px;
        bottom: 15px;
        top: 15px;
        /* display: table-column; */
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
        /* background: bisque; */
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #DDDDDD;
            border-radius: 2px;
            /* padding: 20px; */
            position: relative;
            background: white;
            /* -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
            /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }
            .timeline > li > .timeline-panel.panel-danger:after {
                border-top: 15px solid transparent;
                border-left: 15px solid #DDDDDD;
                border-right: 0 solid #F2DEDE;
                border-bottom: 15px solid transparent;
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 23px;
            font-size: 0.8em;
            text-align: center;
            position: absolute;
            top: 28px;
            left: 50%;
            margin-left: -15px;
            background-color: #999999;
            z-index: 0;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border: 3px solid #FAFAFA;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    margin-bottom: 0;
}
.timeline-body{
    padding: 15px;
    padding-top: 0px;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}